nav {

}

nav ul {
  margin:0;
}

nav li {
  display:inline-block;
  padding:4px;
  text-align: center;
  margin:0 10px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 13px;
  color: white;
  position: relative;
}

.App-header .next {
  position: absolute;
  top:0px;
  right:0px;
  bottom:0px;
  text-align: center;
  padding:5px;
  border-radius: 0;
  font-size:2.5em;
  cursor: pointer;

}

.App-title {
  font-size: 1.7em;
}

.App-intro {
  font-size: large;
}

.play-word {
  font-size:70px;
  text-decoration: none;
}

.choice {
  border:2px solid #ccc;
  font-size:1.2em;
  padding:10px;
  margin:5px;
  cursor:pointer;
}
.choice:hover {
  background:#DDD;
}
.choice.right {
  background:#4d4;
}
.choice.wrong {
  background:#d44;
}

input.answer-box {
  font-size:30px;
  text-align: center;
  width:100%;
  box-sizing:border-box;
  border-radius: 0;
  padding:5px 0;
}

button.check-answer {
  display:block;
  width:100%;
  font-size:30px;
  border-radius: 0px;


}

.word-result {
  font-size:40px;
  text-align: center;
  color:#f00;
  margin-top:15px;
  padding:10px;
  background:#333;
}

.word-result.correct {
  color:#0f0;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
